<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <h1>This is home page</h1>
    <h3><%= "tushar".toUpperCase() %></h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere,
      reprehenderit sed. Optio iure eius consequatur eos nesciunt quam dolorum
      fugiat aut. At aliquid officiis animi iure sapiente, omnis autem! Quasi.
      Nemo eius maiores officiis inventore, sint qui quos quaerat consectetur
      quasi assumenda harum, eveniet dolor eaque voluptas porro error, est non!
      Placeat, minus quibusdam. Nobis repellendus eligendi animi quod fuga!
    </p>

    <button>Click me!</button>
  </body>
</html>
