.container{
    height: 300px;
    width: 600px;
    background-color: black;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 200px 200px 200px;
    row-gap:20px;
    column-gap: 30px;
    align-content: center;
    justify-items: center;
}


.item{
    height: 50px;
    width: 100px;
    background-color: greenyellow;
    text-align: center;
    border:2px solid black;
}