.box{
    border:1px solid black;
    background-color:pink;
}
.red{
    color:red;
}
.blue{
    color:blue;
}

#btn{
    background-color: blue;
    color:white;
}

#h1tag{
    color:purple;
    text-decoration: underline;
}
