#cont{
    height: 400px;
    width: 400px;
    margin: 30px auto;
    border:2px solid aqua;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
}

#cont div{
    height: 100px;
    width: 100px;
    font-size: 50px;
    font-weight:bold;
    border: 2px solid black;
    border-radius: 15px;
    background-color: grey;
    text-align: center;
    margin:10px;
}